﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/CSS/Layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    

    <title>Document</title>
</head>
<body>
    <header>

        <section>

            <div class="top_line">
                <nav class="top_section">
                    <ul class="menu">
                        <li><a href="/Home">Головна</a></li>
                        <li><a href="/Devices">Пристрої</a></li>
                        <li><a href="/Settings">Налаштування</a></li>
                    </ul>
                </nav>
                <div class="menu_line"></div>
            </div>

        </section>


        <div class="container">
            @RenderBody()
        </div>

    </header>


    <footer>
        <hr>
        Copyright Черненко Максим
    </footer>
</body>
</html>