﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/Layout.css">
<link rel="stylesheet" href="~/CSS/Сommon.css">
<link rel="stylesheet" href="~/CSS/ipInput.css">
<link rel="stylesheet" href="~/CSS/ipInput.min.css">

<div>
    <div class="adress">
        <div class="last__section">



            <div display="inline">




                @model ScanerInfo

                @using (Html.BeginForm("ScanForm", "Devices", FormMethod.Post, new { @class = "ScanForm" }))
                {


                    <div class="cont_1">
                        Початкова адреса
                        @*<div class="ipt1" hidden="hidden"><span>@Html.TextBoxFor(m => m.Ip1)</span></div>*@
                        <div id="ip1"><div class="ip-input-container"><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""></div></div>
                    </div>


                    <div class="cont_1">
                        Кінцева адреса
                        <div id="ip2"><div class="ip-input-container"><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""><i class="ip-input-dot"></i><input type="text" class="ip-input-item" value=""></div></div>
                    </div>


                    @*<span>@Html.TextBoxFor(m => m.Ip1)</span>


            <span>@Html.TextBoxFor(m => m.Ip2)</span>*@

                    <input type="submit" value="Сканувати" />


                }
               

            </div>

        </div>
    </div>


    <div class="table_board">
        <table style="width:100%;" border="1">
            <tr>
                <th>Найменування</th>
                <th>IP адреса</th>

            </tr>
            @foreach (var i in ViewBag.TestList)
            {
                <tr><td>@i.Naim</td><td>@i.Ip.ToString()</td><td><button>Видалити</button></td></tr>
            }
        </table>

    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script src="~/Scripts/ipInput.js"></script>

<script>var ipInput = $('#ip1').ipInput();</script>
<script>var ipInput = $('#ip2').ipInput();</script>


<script>
    $('#button').on('click', function () {
        $('#ipt1').text(ipInput.getIp());
        $('#ipt2').text(ipInput.getIp());
    })
</script>
@*<script>
    $('#button').on('click', function () {
        
    })
</script>*@
