﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <link rel="stylesheet" href="~/CSS/Сommon.css">

    <div class="adress">
        <div class="last__section">

        </div>
    </div>


    <p id="my"></p>

    <div class="table_board">
        <table style="width:100%;" border="1">

            <tr><th>Kyocera</th></tr>

            <tr>
                <th>Назва параметру</th>
                <th>Адреса OID</th>
            </tr>

            <tr><td>Name</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Description</td> <td>1.3.6.1.2.1.1.6.0</td><td><button>Змінити</button></td></tr>
            <tr><td>Location</td> <td>1.3.6.1.2.1.1.6.5.2.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerMax</td> <td>1.3.6.1.2.1.43.11.1.1.8.1.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerCurrent</td> <td>1.3.6.1.2.1.43.11.1.1.9.1.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerType</td> <td>1.3.6.1.2.1.43.11.1.1.9.1.1</td><td><button>Змінити</button></td></tr>
            <tr><td>PrintedPages</td> <td>1.3.6.1.2.1.42.11.1.1.9.1.1</td><td><button>Змінити</button></td></tr>

            <tr><th>Samsung</th></tr>

            <tr>
                <th>Назва параметру</th>
                <th>Адреса OID</th>
            </tr>

            <tr><td>Name</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Description</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Location</td> <td>1.3.6.1.2.1.72.3.1.4</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerMax</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerCurrent</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerType</td> <td>1.3.6.1.2.1.28.4.14.2.4.22</td><td><button>Змінити</button></td></tr>
            <tr><td>PrintedPages</td> <td>1.3.6.1.2.1.29.99.14.1.3</td><td><button>Змінити</button></td></tr>

            <tr><th>Canon</th></tr>

            <tr>
                <th>Назва параметру</th>
                <th>Адреса OID</th>
            </tr>

            <tr><td>Name</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Description</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Location</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerMax</td> <td>1.3.6.1.2.1.21.3.2.5.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerCurrent</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerType</td> <td>1.3.6.1.2.1.40.2.5.2.1.3</td><td><button>Змінити</button></td></tr>
            <tr><td>PrintedPages</td> <td>1.3.6.1.2.1.20.1.2.1.1.1</td><td><button>Змінити</button></td></tr>

            <tr><th>Epson</th></tr>

            <tr>
                <th>Назва параметру</th>
                <th>Адреса OID</th>
            </tr>

            <tr><td>Name</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Description</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Location</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerMax</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerCurrent</td> <td>1.3.6.1.2.1.25.3.2.1.3.2</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerType</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>PrintedPages</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>

            <tr><th>Default</th></tr>

            <tr>
                <th>Назва параметру</th>
                <th>Адреса OID</th>
            </tr>

            <tr><td>Name</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Description</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>Location</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerMax</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerCurrent</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>TonerType</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            <tr><td>PrintedPages</td> <td>1.3.6.1.2.1.25.3.2.1.3.1</td><td><button>Змінити</button></td></tr>
            @*<tr>
                    <th>Виробник</th>
                    <th>IP - адреса</th>
                    <th>Розташування</th>
                    <th>Рівень тонеру</th>
                    <th>Сторінок віддруковано</th>
                </tr>

                @foreach (var i in ViewBag.TestList)
                {
                    <tr><td>@i.Naim</td><td> <a href="http://@i.Ip.ToString()" target="_blank"> @i.Ip.ToString() </a> </td><td>@i.Location</td><td>@i.TonerLvl %</td><td>@i.PrintedPages</td></tr>
                }*@

        </table>



    </div>

</div>
