﻿.ip-input-container {
    display: inline;
    font-size: 0;
    border: 1px solid #ccc;
    padding: 6px 0;
}

    .ip-input-container .ip-input-item {
        border: none;
        outline: 0;
        margin: 0;
        width: 60px;
        text-align: center;
        vertical-align: bottom;
        font-size: 13px;
    }

    .ip-input-container .ip-input-dot {
        display: inline;
        width: 2px;
        height: 2px;
        margin-bottom: 2px;
        background-color: #333;
        border-radius: 50%;
        vertical-align: bottom;
    }

.cont_1 {
    float: left;
}

.cont_2 {
    float: right;
}

.button{
    padding-top: 35px;
    padding-left: 20px;
}