body {
    font-size: 16px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #111111;
}

header {
    padding: 0;
    margin: 0;
    height: 670px;
    min-height: 670px;
    width: 100wh;

}

section {
    background: black;
    width: 100%;
    height: 80px;
}


.top_line {

    margin-right: 100px;
    padding-left: 80px;
}

.main {

    padding-top: 50px;
    margin-right: 100px;
}

    .main ul li a:last-child {
        margin-top: 10px;
    }

.top_section {
    margin-top: 20px;
    position: absolute;
    padding-right: 100px;
}

.btxn {
    margin-right: 100px;
}

.top_button {
    text-transform: none;
    text-decoration: none;
    color: #00e0d0;
    padding: 14px 14px 14px 15px;
    border-radius: 2px;
    width: 118px;
    height: 38px;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto 0;
    font-family: 'Hammersmith One', sans-serif;
    border: 1px solid #00e0d0;
    margin-bottom: 50px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
    
}

    .menu li {
        float: left;
        display: block;
        margin-right: 20px;
    }

        .menu li a {
            color: aliceblue;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            transition: .5s;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
        }

            .menu li a:hover {
                color: #00e0d0;
                transition: .7s;
            }

            .menu li a:active {
                color: #00e0d0;
                transition: .7s;
            }

.td{
    text-align:center;
}
.tr {
    text-align: center;
}


.last__section {
    padding-top: 10px;
    width: 100%;
    height: 193px;
}

#myText {
    text-align: left;
    width: 100px;
    height: 35px;
    margin-left: 21px;
    margin-top: 29px;
    margin-right: 20px;
}

#ipv4 {
    text-align: left;
    width: 100px;
    height: 35px;
    margin-left: 21px;
    margin-top: 29px;
    margin-right: 20px;
}

button {
    margin-right: 20px;
}

.table_board {
    margin-top: -80px;
}
