body {
    font-size: 16px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #111111;
}


.main {

    padding-top: 10px;
    margin-right: 100px;
}


td{
    text-align:center;
}


button {
    margin-right: 20px;
}

.table_board {
    height: 193px;
    margin-top: -5px;
}

footer{
    margin-bottom:auto;
    background-color: #808080;
    text-align: center;
}
