﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model SettingsModels
@{
    ViewBag.Title = " ";
}
    <link rel="stylesheet" href="~/CSS/Сommon.css">
<style type="text/css">
    .topDiv {
        width: 50%;
        margin: 10px auto;
        background-color: #f2f2f2;
        text-align: center;
        padding: 2%;
    }

    .innerDiv {
        margin: 0 auto;
        padding: 1%;
        color: black;
    }
</style>











@using (Html.BeginForm())
{

    <div class="topDiv">
        <table>
            <tr> <h2>Змінити Koycera</h2></tr>

            <tr>
                <td>
                    Параметр :
                </td>
                <td>
                    <div class="innerDiv">
                         Name
                        @Html.ValidationMessageFor(m => m.Manufacurer)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    Адреса OID :
                </td>
                <td>
                    <div class="innerDiv">
                        @Html.TextBoxFor(m => m.Oid)
                        @Html.ValidationMessageFor(m => m.Oid)
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="innerDiv">
                        <input id="btnAdd" type="submit" value="Оновити"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
