﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable <SettingsModels>
<link rel="stylesheet" href="~/CSS/Layout.css">
<link rel="stylesheet" href="~/CSS/Сommon.css">
@*<style type="text/css">
    .topDiv
    {
        width: 50%;
        margin: 10px auto;
        background-color: #f2f2f2;
        text-align: left;
        padding: 2%;
    }
</style>*@

<div class="topDiv">
    @*<fieldset style="margin: 2% auto; width: 90%; text-align: center">

            <h4>
                @Html.ActionLink("Add New project", "AddEditProject")
            </h4>
        </fieldset>*@
    <fieldset>
        <table style="margin: 2% auto; padding: 5px; width: 90%" border="1">
            <tr> Manufacturer </tr>
            <tr>
                <th>
                   Назва параметру
                </th>

                <th>
                    Адреса OID    
                </th>

                <th>
                    Управління
                </th>
            </tr>

            @{
                foreach (var item in Model)
                {
                    <tr @*style="background-color: #FFFFF0"*@>
                        <td>
                            @item.Manufacurer
                        </td>

                        <td>
                            @item.Description
                        </td>

                        <td>

                            @Html.ActionLink("Змінити", "AddEditProject", new { id = @item.Id })

                        </td>
                    </tr>
                }
            }

        </table>
    </fieldset>
</div>
